<input
    type="checkbox"
    id="sidenote-toggle:<%= attr :index %>"
    class="sidenote-toggle"
><label
    for="sidenote-toggle:<%= attr :index %>"
    class="sidenote-toggle"
    ></label
><sup
    class="sidenote-id"
    id="sidenote-id:<%= attr :index %>"
    >&NoBreak;[<a href="#sidenote:<%= attr :index %>"><%= attr :index %></a>]</sup
><span
    class="sidenote"
    id="sidenote:<%= attr :index %>"
    ><span
        class="sidenote-id"
        ><a
            href="#sidenote-id:<%= attr :index %>"
            ><%= attr :index %></a
        >.</span
    ><%= text %></span
>
